body{
  margin: 0;
}

header{
  background-color: aliceblue;
  padding:10px;
  position: fixed;
  width: 100%;
}

header div{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

header a{
  font-size: 20px;
  color: black;
  outline: none;
  text-decoration: none;
}

#logo{
  margin-bottom: 10px;
}

#Navigation>a{
  height: 50px;
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#Navigation a:hover{
color: blue;
font-size: 22px ;
}

#Pageactuelle{
  font-size: 25px;
  font-weight: bold;
}

.Page {
  padding-top: 180px;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: row; 
  gap: 30px; /* Espace entre le texte et les images */
}

.text-container {
  width: 60%; 
  padding: 30px; 
  background-color: rgba(127, 127, 127, 0.1); 
  border-radius: 10px; 
}

#texte2 {
  margin-top: 20px;
  width: 100%; 
  padding: 30px; 
  background-color: rgba(127, 127, 127, 0.1); 
  border-radius: 10px; 
}

.images-container {
  display: flex;
  flex-direction: column; 
  width: 40%; /* Largeur des images */
  gap: 10px; /* Espace entre les images */
}

.ptitimage {
  display: flex;
  flex-direction: row; 
  width: 50%; 
  gap: 10px; 
}

.item-image {
  width: 100%; 
  border-radius: 10px;
}


footer{
  display: flex;
  background-color: #515457;
  grid-template-columns: 250px 120px 225px;
  align-items: start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;

  color: aliceblue;
  margin-top: 30px;
  
  font-size: 20px;
}


footer>div{
  padding-top: 10px;
}

.Reseau{
  margin-left: 15px;
}

@media (max-width: 650px){
  footer{
    iframe {
      display: none;
    }
  }
  
}
