/* Header */

html{
  font-family: sans-serif;
  background: linear-gradient(#F1691B, white);
}


h1 {
  font-family: 'Fjalla One', sans-serif;
}

section{
  background-color: #F1691B;
}

body{
  margin: 0;
}

header{
  background-color: #ff823a;
  padding:10px;
  position: fixed;
  width: 100%;

  font-family: 'Fjalla One', sans-serif;

  z-index: 10;
  top: 0;

}

header div{
  display: flex;
  align-items: flex-start;
}

header a{
  font-size: 20px;
  color: black;
  outline: none;
  text-decoration: none;
  text-align: center;

}

#Navigation>a{
  height: 50px;
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #B53a00;

  border-radius: 0% 35%;
}

#Navigation{
  justify-content: space-around;
  
}

#Navigation a:hover{
  color: #74E6C7;
  font-size: 22px;
}


#Pageactuelle{
  font-size: 25px;
  font-weight: bold;
}
/* Body */ 

h1{
  font-family: 'Fjalla One', sans-serif;
}
h2{
  font-family: 'Fjalla One', sans-serif;
}
h3{
  font-family: 'Roboto', sans-serif;
}
p{
  font-family: 'Roboto', sans-serif;
}


#Titre {
    background: linear-gradient(to top, #74E6C7, #FAD254);
    margin-top: 50px;
}

#Titre h2 {
    color: rgb(41, 43, 43);
    text-align: center;
    padding: 10px;
    margin: 0;}
#Titre h3 {
    color: rgb(51, 53, 53);
    text-align: center;
    padding: 10px;
    margin: 0;}


#Contenu {
  padding-top: 50px;
  background-color: #33333300;
}

#Article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: linear-gradient(to bottom, #74E6C7, #FAD254);

  border-radius: 25px;

    
    
}

#article1 {
    background-image: url(article1.jpeg) ;
    background-size: cover;
    width: 40%;
    min-height: 25vh;
    text-align: center;
    border-radius: 15px;
    margin: 30px;
}
#article2 {
  background-image: url(article2.webp) ;
  background-size: cover;
  width: 40%;
  min-height: 25vh;
  text-align: center;
  border-radius: 15px;
  margin: 30px;
}
#article3 {
  background-image: url(article3.jpg) ;
  background-size: cover;
  background-position: center;
  width: 40%;
  min-height: 25vh;
  text-align: center;
  border-radius: 15px;
  margin: 30px;
}

#article4 {
  background-image: url(article4.jpg) ;
  background-size: cover;
  width: 40%;
  min-height: 25vh;
  text-align: center;
  border-radius: 15px;
  margin: 30px;
}
.texte>h2 {
    margin-top: 75px;
   

}
.texte {
    backdrop-filter: blur(10px);
    background-color: rgba(14, 13, 13, 0.311);
    color: white;
}

#dialog1 {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 90vw;
    height: 85vh;
    overflow: auto;
    background-color: #fad354f8;
    border-radius: 25px;
    background: linear-gradient(to bottom, #fad354f3, #ff823af3);
  }

  #dialog2 {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 90vw;
    height: 85vh;
    overflow: auto;
    background-color: #fad354f8;
    border-radius: 25px;
    background: linear-gradient(to bottom, #fad354f3, #ff823af3);
  }
  #dialog3 {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 90vw;
    height: 85vh;
    overflow: auto;
    background-color: #fad354f8;
    border-radius: 25px;
    background: linear-gradient(to bottom, #fad354f3, #ff823af3);
  }
  #dialog4 {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 90vw;
    height: 85vh;
    overflow: auto;
    background-color: #fad354f8;
    border-radius: 25px;
    background: linear-gradient(to bottom, #fad354f3, #ff823af3);
  }

#closeDialog1 {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    color: white;
    cursor: pointer;
    padding: 10px;
    background-color: #ff823a00;
    border : none;
}

#closeDialog2 {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  color: white;
  cursor: pointer;
  padding: 10px;
  background-color: #ff823a00;
  border : none;
}
#closeDialog3 {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  color: white;
  cursor: pointer;
  padding: 10px;
  background-color: #ff823a00;
  border : none;
}

#closeDialog4 {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  color: white;
  cursor: pointer;
  padding: 10px;
  background-color: #ff823a00;
  border : none;
}

.bouton {
    background-color: #b53900ee;
    backdrop-filter: blur(5px);
    border: none;
    color: #FAD254;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    position: relative;

}

.bouton:hover {
    background-color: #a1a5a1;
    color: white;
}




#Image{
  z-index: 0;
  width: 100%;
}

#Contenu {
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;}
    

#contient>a>img {
    justify-content: space-between;
    border-radius: 15px;
    width: 300px;
    height: 500px;
    text-align: center;
    color: black;
    text-decoration: none;
}
#contient {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#Feed>h1 {
    text-align: center;
    color: #66412B;
    margin: 40px;
}
#Feed {
    background-color: #74e6c800;
    border-radius: 25px;
    margin: 30px;
    padding: 10px; 
  }


 /* Footer */

hr{
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  height: 5px;
}

footer{

  color: rgb(0, 0, 0);
  margin-top: 30px;
  
  font-size: 20px;
}

#copyright{
  font-family: 'Roboto', sans-serif;

  display: grid;
  width: 100%;
  grid-template-columns: 300px 220px;
  align-items: start;
  justify-content: space-between;

}


footer>div{
  padding-top: 10px;
}

#socialMedias{
  display: grid;
  width: 100%;
  grid-template-columns: 120px 120px 120px;
  align-items: start;
  justify-content: space-between;
}



@media (max-width: 650px){
  footer{
    iframe {
      display: none;
    }
  }
  
}
