html{
    font-family: sans-serif;
    background: linear-gradient(#F1691B, white);
}

h1 {
    font-family: 'Fjalla One', sans-serif;
}

section{
    background-color: #F1691B;
}

body{
    margin: 0;
}

/*---- ZONE HAUTE DE LA PAGE ----*/
header{
    background-color: #ff823a;
    padding:10px;
    position: fixed;
    width: 100%;

    font-family: 'Fjalla One', sans-serif;

    z-index: 10;
    top: 0;

}

header div{
    display: flex;
    align-items: flex-start;
}

header a{
    font-size: 20px;
    color: black;
    outline: none;
    text-decoration: none;
    text-align: center;

}

#Navigation>a{
    height: 50px;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #B53a00;

    border-radius: 0% 35%;
}

#Navigation{
    justify-content: space-around;
    
}

#Navigation a:hover{
    color: #74E6C7;
    font-size: 22px;
}


#Pageactuelle{
    font-size: 25px;
    font-weight: bold;
}

h1{
    text-align: center;
}

#logo{
    margin-bottom: 10px;
    
}

/*---- ZONE CENTRALE DE LA PAGE ----*/

.Bandeau_acc{
    margin-top: 280px;
    background-color: #66412b;
    padding: 10px;
    color: #ede9dd;
}

.contenu{
    width: 320px;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}

.image a{
    color: rgb(0, 0, 0);
    outline: none;
    text-decoration: none;
}

#pages div{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding:10px;
}

#pages{
    padding: 10px;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
}
.titrePage{
    font-size: large;
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
}

.contenu{
    background-color: #99532b;
    box-shadow: 0px 5px 10px 0px rgba(102, 65, 43, 1)
}

.contenu:hover , .image:hover .contenu{
    font-weight: bolder;
    color: #74E6C7;
}


/*---- ZONE BASSE DE LA PAGE ----*/

hr{
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    height: 5px;
}

footer{

    color: rgb(0, 0, 0);
    margin-top: 30px;
    
    font-size: 20px;
  }

  #copyright{
    font-family: 'Roboto', sans-serif;

    display: grid;
    width: 100%;
    grid-template-columns: 300px 220px;
    align-items: start;
    justify-content: space-between;

  }


  footer>div{
    padding-top: 10px;
    border: 1px solid red;
  }

  #socialMedias{
    display: grid;
    width: 100%;
    grid-template-columns: 120px 120px 120px;
    align-items: start;
    justify-content: space-between;
  }

  .Reseau{
    border: 1px solid red;
  }
  

  @media (max-width: 650px){
    footer{
      iframe {
        display: none;
      }
    }
    
  }




