body{
  margin: 0;
}

header{
  background-color: aliceblue;
  padding:10px;
  position: fixed;
  width: 100%;
}

header div{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

header a{
  font-size: 20px;
  color: black;
  outline: none;
  text-decoration: none;
}

#logo{
  margin-bottom: 10px;
}

#Navigation>a{
  height: 50px;
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#Navigation a:hover{
color: blue;
font-size: 22px ;
}

#Pageactuelle{
  font-size: 25px;
  font-weight: bold;
}

.page{
  padding-top: 160px;
}

footer{
  display: flex;
  background-color: #515457;
  grid-template-columns: 250px 120px 225px;
  align-items: start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;

  color: aliceblue;
  margin-top: 30px;
  
  font-size: 20px;
}


footer>div{
  padding-top: 10px;
}

.Reseau{
  margin-left: 15px;
}

@media (max-width: 650px){
  footer{
    iframe {
      display: none;
    }
  }
  
}

.disclaimer{
  color: white;
  border-radius: 50px;
  padding: 10px;
  text-align: center;
  background-color: red;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 75px;
}

  .div_container{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 7.5%;
  }

  .eltg{
    width: 70%;
  }

  .texte1{
    display: flex;
    align-items: center;
    background-color: grey;
    height: 300px;
    border-radius: 50px;
    width: 100%;
    margin-bottom: 50px;
  }

  .texte1>span{
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .graph{
    align-items: center;
    display: flex;
    background-color: green;
    height: 250px;
    width: 250px;
    min-width: 250px;
    border-radius: 50px;
  }

  #g1{
    margin-bottom: 50px;
  }

  #g2{
    margin-left: 30px;
  }

  .graph>span{
    width: 100%;
    text-align: center;
  }

  .graph>img{
    height:250px ;
    border: solid;
    border-radius: 50px;
    width: 100%;
  }

  h1 {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
  }

  .ensemble1{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .texte2{
    display: flex;
    align-items: center;
    background-color: grey;
    border-radius: 50px;
    height: 200px;
    width: 75%;
    border-right: 5px;

  }

  .texte2>span{
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .texte3{
    display: flex;
    align-items: center;
    background-color: grey;
    border-radius: 50px;
    height: 500px;
    width: 100%;
  }

  .texte3>span{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    max-width: 230px;
  }

  .eltd{
    margin-top: 50px;
    width: 250px;
  }
