html{
  font-family: sans-serif;
  background: linear-gradient(#F1691B, white);
}

h1 {
  font-family: 'Fjalla One', sans-serif;
}

body{
  margin: 0;
}

header{
  background-color: #ff823a;
  padding:10px;
  position: fixed;
  width: 100%;

  font-family: 'Fjalla One', sans-serif;

  z-index: 10;
  top: 0;

}

header div{
  display: flex;
  align-items: flex-start;
}

header a{
  font-size: 20px;
  color: black;
  outline: none;
  text-decoration: none;
  text-align: center;

}

#Navigation>a{
  height: 50px;
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #B53a00;

  border-radius: 0% 35%;
}

#Navigation{
  justify-content: space-around;
  
}

#Navigation a:hover{
  color: #74E6C7;
  font-size: 22px;
}


#Pageactuelle{
  font-size: 25px;
  font-weight: bold;
}

.page{
  padding-top: 160px;
}

hr{
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  height: 5px;
}

footer{

  color: rgb(0, 0, 0);
  margin-top: 30px;
  
  font-size: 20px;
}

#copyright{
  font-family: 'Roboto', sans-serif;

  display: grid;
  width: 100%;
  grid-template-columns: 300px 220px;
  align-items: start;
  justify-content: space-between;

}


footer>div{
  padding-top: 10px;
}

#socialMedias{
  display: grid;
  width: 100%;
  grid-template-columns: 120px 120px 120px;
  align-items: start;
  justify-content: space-between;
}



@media (max-width: 650px){
  footer{
    iframe {
      display: none;
    }
  }
  
}

.disclaimer{
  color: white;
  border-radius: 50px;
  padding: 10px;
  text-align: center;
  background-color: red;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.contextéco{
  background-color: #74E6C7;
  padding: 50px;
  margin: 50px;
  border-radius: 50px;
}

.contextéco>h2{
  text-align: center;
}

section.economie{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}

  .div_container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  .eltg{
    width: 70%;
    background-color: #B53a00;
    padding: 5px;
    border-radius: 50px;
  }

#g3{
  display: flex;
  justify-content: flex-start;
  padding-left: 5px;
}

  .texte1{
    display: flex;
    align-items: center;
    background-color: #74E6C7;
    border-radius: 50px;
    margin-bottom: 50px;
    flex-direction: row-reverse;
  }

  .texte1>span{
    width: 100%;
    padding: 20px;
    text-align: start;
  }

  .graph{
    align-items: center;
    display: flex;
    border-radius: 50px;
    justify-content: center;

  }

  #g1{
    margin-bottom: 50px;
    width: 100%;
  }

  #g2{
    margin-left: 30px;
    display: flex;
    justify-content: flex-end;
  }

  .graph>span{
    width: 100%;
    text-align: center;
  }

  .graph>img{
    height:250px ;
    border: solid, 5px;
    border-radius: 50px;
    width: 100%;
    border-color: #fad254;
  }

  .graph1>img{
    height:250px ;
    border: solid, 5px;
    border-radius: 50px;
    border-color: #fad254;
  }

  h1 {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
  }

  .ensemble1{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .texte2{
    display: flex;
    align-items: center;
    background-color: #74E6C7;
    border-radius: 50px;
    min-height: 200px;
    width: 75%;
    border-right: 5px;

  }

  .texte2>span{
    width: 100%;
    padding: 20px;
    text-align: start;
  }

  .texte3{
    display: flex;
    align-items: center;
    background-color: #74E6C7;
    border-radius: 50px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .presg{
    font-weight: bold;
  }

  .texte3>span{
    padding-left: 10px;
    padding-right: 10px;
    text-align: start;
    max-width: 100%;
  }

  .eltd{
    background-color: #B53a00;
    border-radius: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
    width: 25%;
  }

  .texte_ecolo{
    display: flex;
    background:linear-gradient(#74E6C7,#fad254) ;
    border-radius: 50px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    align-items: center;
  }

  .img_eco>img{
    height: 300px;
    width: 300px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .texte_ecolo>span{
    color: #000000;
  }
